<div class="mc-absolutelayout-cotar" ms-class-1="{{mcstyle}}" ms-class-2="mc-loading: isInit" ms-css-width="renderStyle('width')"
     ms-css-height="renderStyle('height')"
     ms-css-top="renderStyle('top')" ms-css-left="renderStyle('left')"
     ms-css-right="renderStyle('right')" ms-css-bottom="renderStyle('bottom')"
     ms-css-padding="renderStyle('padding')" ms-css-padding-top="renderStyle('pt')"
     ms-css-padding-left="renderStyle('pl')" ms-css-padding-right="renderStyle('pr')"
     ms-css-padding-bottom="renderStyle('pb')" ms-css-min-width="renderStyle('minWidth')">
    {{renderContent()|html}}
</div>
