@charset "utf-8";
/*----------------------------
    Style Create: 2015年12月12日10:30:53
    Author: Zero
    Style Update: 2016年4月7日15:59:53
    Author: Zero
------------------------------*/
/*----------------------------
	Style Create: 2015.5.28
	Author: Zero
	Style Update: 2016年3月25日15:30:45
	Author: Zero
	Note: 曼码-LESS代码库
    version: 0.2.5.2
------------------------------*/
/*----------------------------
	Note: 配置文件
------------------------------*/
/*#region Page Initialize */
/*#endregion */
/*#region css3相关 */
/*#endregion */
/*#region 文本相关 */
/*#endregion */
/*#region 伪元素使用 */
/*#endregion */
/*#region 背景图的使用(传入图片名) - 主站 */
/*#endregion */
/*#region 背景图的使用(传入图片名) - 微站 */
/*//网格图使用示例
.mc_bg(@x,@y){
    .mc_bgNpP("",-@x -@y);
}
.mc_bgNpP(@imgName,@position) when (isstring(@imgName)){
//不重复(传入位置信息)
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat @position);
}
.mc_bgNpP(@color,@imgName,@position){
//不重复带背景色(传入位置信息)
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat @position);
}
.mc_bgNp(@imgName) when (isstring(@imgName)){
//不重复
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat top left);
}
.mc_bgNp(@color,@imgName){
//不重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat top left);
}
.mc_bgNpCC(@imgName) when (isstring(@imgName)){
//不重复-居中
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat center);
}
.mc_bgNpCC(@color,@imgName){
//不重复带背景色-居中
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat center);
}
.mc_bgRp(@imgName) when (isstring(@imgName)){
//XY重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat top left);
}
.mc_bgRp(@color,@imgName){
//XY重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat top left);
}
.mc_bgRpX(@imgName) when (isstring(@imgName)){
//X重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat-x top left);
}
.mc_bgRpX(@color,@imgName){
//X重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat-x top left);
}
.mc_bgRpY(@imgName) when (isstring(@imgName)){
//Y重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat-y top left);
}
.mc_bgRpY(@color,@imgName){
//Y重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat-y top left);
}*/
/*#endregion */
#McBaseLib {
  /*#region 页面初始化 */
  /*#endregion */
  /*#region Util */
  /*#endregion */
  /*#region 布局 */
  /*#endregion*/
  /*#region CSS3相关 */
  /*#endregion*/
  /*#region CSS3动画 */
  /*#endregion*/
}
/*#region 页面初始化 */
/*#endregion */
/*#region Util */
/*#endregion */
/*#region 布局 */
/*#endregion*/
/*#region CSS3相关 */
/*#endregion*/
/*#region CSS3动画 */
/*#endregion*/
/*@media only screen and (min-width: 1100px){
        #McBaseLib > .setScrollbar; //更改滚动条样式
    }*/
html,
body {
  width: 100%;
  font-size: 16px;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Segoe UI', 'Microsoft Yahei', Tahoma, Arial, STHeiti, sans-serif;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
img,
object,
embed {
  max-width: 100%;
}
i,
em {
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: normal;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  -ms-word-break: break-all;
  word-break: break-all;
  text-align: justify;
}
input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Segoe UI', 'Microsoft Yahei', Tahoma, Arial, STHeiti, sans-serif;
  line-height: 1.2em;
  outline: none;
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  line-height: 1.2em;
}
.wrap {
  width: 100%;
  min-width: 1180px;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.lfp {
  float: left;
}
.rfp {
  float: right;
}
.cf {
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.cfa:after {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.tb {
  display: table !important;
}
.tc {
  display: table-cell;
  vertical-align: top;
}
.txtl {
  text-align: left;
}
.txtr {
  text-align: right;
}
.txtc {
  text-align: center;
}
.item,
.field {
  display: block;
  font-size: 16px;
}
.center-cotar {
  display: block;
  width: 1180px;
  margin: 0 auto;
}
.vm-cotar {
  display: inline-block;
  line-height: 1.2em;
  vertical-align: middle;
}
.ftp {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.fp {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.fbp {
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
}
.hf {
  font-size: 0;
}
.fbox {
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
}
.bf1 {
  -o-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex: 1;
}
.bf2 {
  -o-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
  flex: 2;
}
.bf3 {
  -o-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3;
  flex: 3;
}
.mc-editor-cotar {
  /*.edui-container{
            max-width: 1000px;
        }*/
}
.mc-editor-cotar p {
  line-height: 1.8em;
  margin: 15px 0;
}
.mc-editor-cotar i,
.mc-editor-cotar cite,
.mc-editor-cotar em,
.mc-editor-cotar var,
.mc-editor-cotar address,
.mc-editor-cotar dfn {
  font-style: italic;
}
.mc-editor-cotar strong,
.mc-editor-cotar b {
  font-weight: bold;
}
.mc-editor-cotar sup {
  vertical-align: super;
  font-size: 12px;
  line-height: 1em;
}
.mc-editor-cotar sub {
  vertical-align: sub;
  font-size: 12px;
  line-height: 1em;
}
.mc-editor-cotar img {
  display: block;
  margin: 0 auto;
}
.mc-hide,
.ms-controller,
.ms-important,
[ms-controller],
[ms-important],
[slot] {
  visibility: hidden;
}
body {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.mc-user-select {
  -moz-user-select: initial;
  -ms-user-select: initial;
  -webkit-user-select: initial;
}
.mc-bt {
  border-top: 1px solid #eeeeee;
}
.mc-bb {
  border-bottom: 1px solid #eeeeee;
}
.mc-bl {
  border-left: 1px solid #eeeeee;
}
.mc-br {
  border-right: 1px solid #eeeeee;
}
.index-top-bar-wrap {
  height: 60px;
  background: #292f37;
}
.index-top-bar-wrap .logo {
  width: 200px;
  height: 60px;
  padding: 5px;
  text-align: center;
}
.index-top-bar-wrap .logo:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  visibility: hidden;
  vertical-align: middle;
}
.index-top-bar-wrap .logo img {
  display: inline-block;
  max-height: 50px;
}
.index-top-bar-wrap .top-nav .item {
  line-height: 60px;
  padding: 0 30px;
  color: #ffffff;
}
.index-top-bar-wrap .top-nav .item.active {
  background: #16191c;
}
.index-top-bar-wrap .user-tool-bar {
  position: relative;
  line-height: 60px;
  padding: 0 30px;
  cursor: default;
}
.index-top-bar-wrap .user-tool-bar:hover {
  background: #16191c;
}
.index-top-bar-wrap .user-tool-bar:hover .drop-list {
  display: block;
}
.index-top-bar-wrap .user-tool-bar .user-name {
  font-size: 16px;
  color: #ffffff;
}
.index-top-bar-wrap .user-tool-bar .drop-list {
  position: absolute;
  right: 0;
  display: none;
  width: 150px;
  border: 1px solid #dddddd;
  background: #ffffff;
  z-index: 99;
  /*-webkit-box-shadow: @style;
        -moz-box-shadow: @style;
        -o-box-shadow: @style;*/
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.index-top-bar-wrap .user-tool-bar .drop-list .item {
  display: block;
  line-height: 50px;
  padding: 0 15px;
  cursor: pointer;
}
.index-top-bar-wrap .user-tool-bar .drop-list .item:hover {
  background: #f4f4f4;
}
.index-sidebar-wrap {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 100%;
}
.index-main-body {
  position: fixed;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 0;
  color: #333333;
  overflow-y: hidden;
  overflow-x: auto;
}
.index-main-body.full-page {
  left: 0;
}
.index-main-body .well {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1100px;
  min-height: 400px;
}
.bg-cotar {
  background: #ecedf1;
}
.mc-cotar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #ffffff;
  /*-webkit-box-shadow: @style;
        -moz-box-shadow: @style;
        -o-box-shadow: @style;*/
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.mc-panel {
  width: 100%;
  height: 100%;
}
.mc-relative {
  position: relative;
}
.mc-bread-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  /*-webkit-box-shadow: @style;
        -moz-box-shadow: @style;
        -o-box-shadow: @style;*/
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.mc-bread-wrap .headline {
  line-height: 50px;
  margin: 0 20px;
}
.mc-scroll-cotar {
  overflow: auto;
}
.headline {
  line-height: 50px;
  padding: 0 15px;
}
.hor-list > .item {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}
.tool-bar {
  line-height: 50px;
  padding: 0 15px;
  font-size: 0;
}
.tool-bar > .item {
  display: inline-block;
  margin: 0 7px;
  vertical-align: middle;
}
/*#region 图标*/
/*#endregion*/
/*#region 动画*/
.mc-loading {
  display: none;
}
.mc-animate-delay {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.mc-animate {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.mc-animate-page-show {
  -webkit-animation-name: sideInLeftS;
  animation-name: sideInLeftS;
}
.mc-animate-content-show {
  -webkit-animation-name: sideInUp;
  animation-name: sideInUp;
}
/*#endregion*/
.my-repeat-animation {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
.ng-enter {
  -webkit-animation-name: enter_animation;
  animation-name: enter_animation;
}
.ng-leave {
  -webkit-animation-name: leave_animation;
  animation-name: leave_animation;
}
@keyframes enter_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leave_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes enter_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes leave_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*#region animate sideInLeft 300px [sideInLeftS]*/
@-webkit-keyframes sideInLeftS {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@keyframes sideInLeftS {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
/*#endregion*/
/*#region animate sideInLeft 500px [sideInLeft]*/
@-webkit-keyframes sideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px,0,0);
    -moz-transform: translate3d(500px,0,0);
    -ms-transform: translate3d(500px,0,0);
    -o-transform: translate3d(500px,0,0);
    transform: translate3d(500px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@keyframes sideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px,0,0);
    -moz-transform: translate3d(500px,0,0);
    -ms-transform: translate3d(500px,0,0);
    -o-transform: translate3d(500px,0,0);
    transform: translate3d(500px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
/*#endregion*/
/*#region animate sideInLeft 700px [sideInLeftL]*/
@-webkit-keyframes sideInLeftL {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(700px,0,0);
    -moz-transform: translate3d(700px,0,0);
    -ms-transform: translate3d(700px,0,0);
    -o-transform: translate3d(700px,0,0);
    transform: translate3d(700px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@keyframes sideInLeftL {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(700px,0,0);
    -moz-transform: translate3d(700px,0,0);
    -ms-transform: translate3d(700px,0,0);
    -o-transform: translate3d(700px,0,0);
    transform: translate3d(700px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
/*#endregion*/
/*#region animate sideInUp 70px [sideInUp]*/
@-webkit-keyframes sideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,70px,0);
    -moz-transform: translate3d(0,70px,0);
    -ms-transform: translate3d(0,70px,0);
    -o-transform: translate3d(0,70px,0);
    transform: translate3d(0,70px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@keyframes sideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,70px,0);
    -moz-transform: translate3d(0,70px,0);
    -ms-transform: translate3d(0,70px,0);
    -o-transform: translate3d(0,70px,0);
    transform: translate3d(0,70px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
/*#endregion*/
/*# sourceMappingURL=McBaseBeta.css.map */