@charset "utf-8";
/*
    Name: datepicker (日期选择)
    Version: 0.1
    Create Time: 2016年4月10日15:46:52
    Update Time: 2016年4月10日15:47:01
    Author: Zero
*/
/*----------------------------
	Style Create: 2015.5.28
	Author: Zero
	Style Update: 2016年3月25日15:30:54
	Author: Zero
	Note: 曼码-LESS代码库
	version: 0.2.4.3
    version: 0.2.5.2
------------------------------*/
/*----------------------------
	Note: 配置文件
------------------------------*/
/*#region Page Initialize */
/*#endregion */
/*#region css3相关 */
/*#endregion */
/*#region 文本相关 */
/*#endregion */
/*#region 伪元素使用 */
/*#endregion */
/*#region 背景图的使用(传入图片名) - 主站 */
/*#endregion */
/*#region 背景图的使用(传入图片名) - 微站 */
/*//网格图使用示例
.mc_bg(@x,@y){
    .mc_bgNpP("",-@x -@y);
}
.mc_bgNpP(@imgName,@position) when (isstring(@imgName)){
//不重复(传入位置信息)
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat @position);
}
.mc_bgNpP(@color,@imgName,@position){
//不重复带背景色(传入位置信息)
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat @position);
}
.mc_bgNp(@imgName) when (isstring(@imgName)){
//不重复
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat top left);
}
.mc_bgNp(@color,@imgName){
//不重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat top left);
}
.mc_bgNpCC(@imgName) when (isstring(@imgName)){
//不重复-居中
    #McBaseLib > .backgroundSize(@imgName,contain,no-repeat center);
}
.mc_bgNpCC(@color,@imgName){
//不重复带背景色-居中
    #McBaseLib > .backgroundSize(@color,@imgName,contain,no-repeat center);
}
.mc_bgRp(@imgName) when (isstring(@imgName)){
//XY重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat top left);
}
.mc_bgRp(@color,@imgName){
//XY重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat top left);
}
.mc_bgRpX(@imgName) when (isstring(@imgName)){
//X重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat-x top left);
}
.mc_bgRpX(@color,@imgName){
//X重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat-x top left);
}
.mc_bgRpY(@imgName) when (isstring(@imgName)){
//Y重复
    #McBaseLib > .backgroundSize(@imgName,contain,repeat-y top left);
}
.mc_bgRpY(@color,@imgName){
//Y重复带背景色
    #McBaseLib > .backgroundSize(@color,@imgName,contain,repeat-y top left);
}*/
/*#endregion */
#McBaseLib {
  /*#region 页面初始化 */
  /*#endregion */
  /*#region Util */
  /*#endregion */
  /*#region 布局 */
  /*#endregion*/
  /*#region CSS3相关 */
  /*#endregion*/
  /*#region CSS3动画 */
  /*#endregion*/
}
/*#region bread 面包屑*/
/*#endregion*/
/*#region selectbox 搜索框*/
/*#endregion*/
/*#region iconselect 图标选择*/
/*#endregion*/
/*#region css3相关 */
/*#endregion */
/*#region 文本相关 */
/*#endregion */
/*#region 伪元素使用 */
/*#endregion */
/*#region 背景图的使用(传入图片名) - 主站 */
/*#endregion */
.mc-datepicker-cotar {
  position: relative;
  /*.date_selector, .date_selector *{width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;}*/
}
.mc-datepicker-cotar.mc-readonly .control-label {
  margin-top: 0;
}
.mc-datepicker-cotar.mc-readonly .mc-datepicker-wrap {
  height: 20px;
}
.mc-datepicker-cotar.mc-readonly .mc-datepicker-wrap .mc-datepicker-content {
  line-height: 20px;
  padding: 0;
  border: none;
  cursor: default;
}
.mc-datepicker-cotar .control-label {
  margin-top: 5px;
}
.mc-datepicker-cotar .mc-datepicker-wrap .mc-datepicker-content {
  line-height: 25px;
  padding: 0 5px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.mc-datepicker-cotar .mc-datepicker-ipt {
  width: 0;
  height: 0;
  overflow: hidden;
}
.mc-datepicker-cotar .mc-text-field-tip {
  line-height: 30px;
  font-size: 14px;
  color: #888888;
}
.mc-datepicker-cotar .date_selector {
  background: #fbfbfb;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  margin-top: -1px;
  position: absolute;
  z-index: 100000;
  display: none;
  border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
  box-shadow: 0 2px 2px #ccc;
  width: 243px;
}
.mc-datepicker-cotar .date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}
.mc-datepicker-cotar .date_selector .nav {
  width: 100%;
}
.mc-datepicker-cotar .date_selector .nav p {
  clear: none;
}
.mc-datepicker-cotar .date_selector .month_nav,
.mc-datepicker-cotar .date_selector .year_nav {
  margin: 0 0 3px 0;
  padding: 0;
  display: block;
  position: relative;
  text-align: center;
}
.mc-datepicker-cotar .date_selector .month_nav {
  float: left;
  width: 105px;
}
.mc-datepicker-cotar .date_selector .year_nav {
  float: right;
  width: 105px;
}
.mc-datepicker-cotar .date_selector .month_name,
.mc-datepicker-cotar .date_selector .year_name {
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}
.mc-datepicker-cotar .date_selector .button {
  display: block;
  position: absolute;
  top: 0;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-weight: bold;
  color: #5985c7;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.mc-datepicker-cotar .date_selector .button:hover,
.mc-datepicker-cotar .date_selector .button.hover {
  background: #5985c7;
  color: #fff;
  cursor: pointer;
  border-color: #3a930d;
}
.mc-datepicker-cotar .date_selector .prev {
  left: 0;
}
.mc-datepicker-cotar .date_selector .next {
  right: 0;
}
.mc-datepicker-cotar .date_selector table {
  border-spacing: 0;
  border-collapse: collapse;
  clear: both;
  margin: 0;
  width: 220px;
}
.mc-datepicker-cotar .date_selector th,
.mc-datepicker-cotar .date_selector td {
  width: 2.5em;
  height: 2em;
  padding: 0 !important;
  text-align: center !important;
  color: #666;
  font-weight: normal;
}
.mc-datepicker-cotar .date_selector th {
  font-size: 12px;
}
.mc-datepicker-cotar .date_selector td {
  border: 1px solid #f1f1f1;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  color: #5985c7;
  background: #fff;
}
.mc-datepicker-cotar .date_selector td.today {
  background: #eee;
}
.mc-datepicker-cotar .date_selector td.unselected_month {
  color: #ccc;
}
.mc-datepicker-cotar .date_selector td.selectable_day {
  cursor: pointer;
}
.mc-datepicker-cotar .date_selector td.selected {
  background: #2b579a;
  color: #fff;
  font-weight: bold;
}
.mc-datepicker-cotar .date_selector td.selectable_day:hover,
.mc-datepicker-cotar .date_selector td.selectable_day.hover {
  background: #5985c7;
  color: #fff;
}
/*# sourceMappingURL=mc.datepicker.css.map */